
body {
  font-family: Arial, sans-serif;
  color: rgb(51, 51, 51);
  line-height: 1.6;
  margin: 0px;
  background-color: #e8f5e9;

}


.top {
  position: fixed;
  top: 0;
  height: 130px;
  width: 100%;
  z-index: 1000;
 
}

.top1 {
  box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 5px;
  position: fixed;
  left: 0;
  right: 0;
  height: 60px;
  width: 100%;
  background-color: #D2F0C8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}



#profile {
  position: fixed;
  width: 150px;
  height: 45px;
  right: 30px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between; /* Aligns content horizontally */
  align-items: center; /* Vertically center content */
}

#profile i {
  margin: 5px; /* Space between text and icon */
}

#profile div {
  border: 2px solid;
  border-radius: 50%;
  padding: 5px;
}
#profile:hover div {
  border: 2px solid white;
}


#nav-bar {
  z-index: 1002;
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #50c878;
  border-bottom: 2px solid #28a745;
}


.navbar-nav .nav-link {
  font-weight: bold;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  padding: 10px 15px;
  border-radius: 5px;
}

.navbar-nav .nav-link:hover {
  background-color: rgba(20, 133, 52, 1);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
  color: white !important;
}

.navbar-nav .nav-item.active .nav-link {
  background-color: rgba(40, 167, 69, 0.8);
  color: white;
}


.navbar-nav {
   margin-left: 200px;
   width: 80%;
   justify-content: space-between;
 }


 #contact {
  background-color: #28a745;
  color: white;
  height:45px;
  padding: 10px;
  border-radius: 5px;
  outline: 2px solid #46b06c;
  display: inline-block;
  transition: background-color 0.3s ease;
  position: fixed;
  right:20px;
  top:61.5px;
  
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;

}

#contact:hover {
  background-color: #218838;
  transform: scale(1.1); 
}

#contact i {
  font-size: 22px;
  color: #f8f8f8;
}

#chatbot {
  background-color: #28a745;
  color: white;
  height:45px;
  padding: 10px;
  border-radius: 5px;
  outline: 2px solid #46b06c;
  display: inline-block;
  transition: background-color 0.3s ease;
  position: fixed;
  right:100px;
  top:61.5px;


  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#chatbot:hover {
  background-color: #218838;
  transform: scale(1.1); 
}

#chatbot i {
  font-size: 24px;
  color: #f8f8f8;
}

.active-page a {
  font-weight: bold;
  background-color: #46b06c;
  border: 3px solid #28a745;
  color: white !important;
  border-radius: 15%;
}


  /* Responsive Design */

  @media (max-width: 992px) {
    .logo{
      margin-right: 270px;
    }

    
  #toggler {
    margin-top: -5px;
    position: fixed;
    left: 30px;
    top: 70px;
  }
  
  .navbar-nav .nav-item {
      margin: 0px ;
      text-align: center;
      background-color: #98Fb98;
  }
  .navbar-nav {
    margin-top:54px;
    width: 100%;
  }

  .user-guide-section{
    flex-direction: column;
  
  }

  .user-guide-section .content {
    margin-bottom: 20px;
  }
  .lab-container img {
    margin-top: 50px;
  }


  }

    #profile {
      position: fixed;
      width: 150px;
      height: 45px;
      right: 30px;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center; 
      gap:7px;
    }

    .main{
        position: absolute;
        top:200px;
        width:100%;
  
    }

 .ads {
    position: absolute;
    top:150px;
     display: flex;
     overflow: hidden;
     width: 100%;
     height: 450px;
     position: relative;
     
   }

   .ads div {
     animation: slide-ads 30s ease-in-out infinite;
     
   }

   @keyframes slide-ads {
     0% {
       transform: translateX(0);
     }
     20% {
       transform: translateX(-100%);
     }
     40% {
       transform: translateX(-200%);
     }
     60% {
       transform: translateX(-300%);
     }
     80% {
       transform: translateX(-400%);
     }
     100% {
       transform: translateX(-500%);
     }
   }

   .ad {
     height: 420px;
     width: 100%;
     flex-shrink: 0;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 24px;
     color: #fff;
     text-align: center;
   }

   .dots-container {
     position:relative;
     top: 150px;
     width: 100%;
     display: flex;
     justify-content: center;
     margin-top: 10px;
   }

   .dot {
     width: 18px;
     height: 18px;
     background-color: #bbb;
     border-radius: 50%;
     margin: 0 5px;
     transition: background-color 0.3s ease;
   }

   .dot.active {
     background-color: #ffd700;
   }

   #ad-1 {
     background-image: url("../IMAGES/ad1.jpeg");
     background-size: contain;
   }

   #ad-2 {
     background-image: url("../IMAGES/ad2.webp");
     background-size: cover;
   }

   #ad-3 {
     background-image: url("../IMAGES/ad3.jpg");
     background-size: contain;
   }

   #ad-4 {
     background-image: url("../IMAGES/ad4.webp");
     background-size: cover;
   }

   #ad-5 {
     background-image: url("../IMAGES/ad5.png");
     background-size: contain;
   }

   #ad-6 {
     background-image: url("../IMAGES/ad6.jpg");
     background-size: cover;
   }

  
  .accordion-item {
    z-index: 1; 
  }


  #FAQs{
    position: relative;
    top:1350px;
    text-align: center;
    align-content: center;
    width:100%;
    border: 6px solid #71c9ce; /* Teal Blue */
    padding:50px;
    border-radius: 10px;
    background-color: white;
    
  }


  .faq {
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  margin: 10px auto;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-left: 5px solid #2c98f0; /* Blue Accent */

  }
